.post{
    box-shadow: var(--box-shadow);
    background: var(--first-color);
    padding:10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-user{
    display: flex;
    align-items: center;
    gap:10px;
}

.post-user>span{
    font-size: 18px;
    font-weight: 700;
}

.post-control{
    display: flex;
    align-items: center;
}

.post-control-options, .post-control-hidden{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-control-options:hover, .post-control-hidden:hover{
    background-color: #eee;
}

.info-wrapper{
    display: flex;
    align-items: center;
    font-size: 11px;
}
.post-body{
    width: 100%;
}

.post-content {
    font-size: 16px;
    margin: 10px;
}

.post-image{
    width: 100%;
}


.post-interact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}


.post-interact span{
    font-size: 15px;
}

.post-like-counter{
    display: flex;
    align-items: center;
}
.post-like-counter img{
    margin-right: 5px;
}

.post-interact .post-like-counter img{
    width: 20px;
}

.post-cmt-share{
    display: flex;
}

.post-cmt-share span{
    margin: 0 5px 0 15px;
}
.post-cmt, .post-share{
    display: flex;
    align-items: center;
}

.post-footer{
display: flex;
align-items: center;
justify-content: space-around;
}
.post-footer span{
    margin-left: 5px;
}

.post-feeling, .post-comment, .post-share{
    display: flex;
    align-items: center;
    font-size: 15px;
}